body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #caf0f7c6;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    margin-bottom: 2rem;
    
}

.adder {
    width: 100vh;
    display:flex;
    flex-direction:row;
    justify-content: center;
}

#tf-1 {
    width: 10rem;
    margin-right: 1rem;
}

#add-button {
    width : 90px;
    height: 4vh;   
}

.display {
    width: 100vh;
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 2rem;
}

table {
    width : 350px;
    height: 10vh; 
    margin-top: 2rem; 
}



